/* Basic styling for the login and dispatch containers */

#login-container, #dispatch-container {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

#login-form, table {
  width: 100%;
}

table th, table td {
  padding: 5px;
  border: 1px solid #ccc;
}
